body{
    background-image: url(project.jpg);
    background-image: no-repeat;
    background-position: center;
    background-attachment: fixed;
    }

.formbox{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgba(9, 186, 240, 0.507);
    padding: 5px;
    border-radius: 50px;
      }       
.button-box{
    width: 220px;
    margin: 35px auto;
    position:relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    display: inline-flex;
}
.toggle-btn{
    
    text-transform: uppercase;
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    cursor:pointer;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient( to right, #e733065f, #06fff3);
    border-radius: 30px;
    transition: .5s;

}
#btn:hover{
    background: rgb(1, 48, 51);
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
    margin: 45px 45px;
}
.input-field{
    text-transform: uppercase;
    color: rgb(242, 245, 240);
    width: 100%;
    padding:10px 6px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom:2px solid black;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 20px 30px; 
    cursor: pointer;
    display: block;
    margin: 45px 30px;
    background: linear-gradient( to right, #e733065f, #06fff3);
    border: 1px solid #ffffff;
    outline: blueviolet;
    border-radius: 30px;
}
.submit-btn:hover{
    background: linear-gradient(to left, #06fff3,#e14c28) ;
}
.checkbox{
top: 0;
bottom: 0;
}
span{
   color: #0c0c0c;
   font-size: 15px;  
}
input{
    color: black;
    font-size:15px;
   
}
::-webkit-input-placeholder{
    color: black;


}
:focus::-webkit-input-placeholder{
    opacity: 0.5;
    text-align: center;
}